@{
    ViewData["Title"] = "Index";
}

<body class = "INDEX">

<h1>Bienvenidos a la Sala de Escape de Spider-man Vs Los Seis Siniestros</h1>

<h2>Para comenzar el juego ingresa al siguiente enlace</h2>

<a href='@Url.Action("Jugar", "Home")'>CLICK ACA PARA JUGAR</a>

</body>