@{
    ViewData["Title"] = "Index";
}
<script>
    localStorage.removeItem("tiempoSalaEscape");
</script>

<body class = "INDEX">
<h1>Bienvenidos a la Sala de Escape de Spider-man Vs Los Seis Siniestros</h1>

<h2>Para comenzar el juego ingresa al siguiente enlace</h2>

<h2>Ingresá tu nombre antes de comenzar</h2>

    <form action='@Url.Action("Jugar","Home")' method="post">
    Nombre: <input type ="text" name ="nombre">
    <input type="submit" value = "Enviar">
    </form>


</body>