<body class="sala4">
<main class="4">
    <form action='@Url.Action("ResolverSala","Home")' method="post">
    ¿Quien es el villano de esta sala? : <input type ="text" name ="codigo">
    <input type="submit" value = "Enviar">
    </form>
    <iframe allow="fullscreen; autoplay;" allowfullscreen width="795" height="690" frameborder="0" src="https://es.educaplay.com/juego/24370125-spider_man_vs_electro.html"></iframe>
</main>
</body>