<p>USTED ESTÁ EN LA SALA @ViewBag.salaActual</p>
<div class="Sala6">
<div class="textoform">
<p> Escribir el codigo traducido del lenguaje secreto. </p>
</div>
<form action = '@Url.Action("ResolverSala","Home")' method = "post">
    <input type="text" name="fake-field" style="display:none">
    Código:
    <input type="text" name="codigo" id="codigo" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
<input button type="submit" class="btn btn-primary" value="Enviar Respuesta">
<img src="/imagenes/acertijo morsefalso TERMINADO.png" alt="ImagenPista"/>


</form>
</div>