<p>USTED ESTÁ EN LA SALA @ViewBag.salaActual</p>
<div class="Sala6">
<div class="textoform">
<p> Escribir el codigo traducido del lenguaje secreto. </p>
</div>
<form action = '@Url.Action("ResolverSala","Home")' method = "post">
Codigo = <input type="text" name="codigo">
<img src="/imagenes/acertijo morsefalso TERMINADO.png" alt="ImagenPista"/>


</form>
</div>