<body class="sala2">
<main class="2"> 
    <form action='@Url.Action("ResolverSala","Home")' method="post">
    Codigo: <input type ="text" name ="codigo">
    <input type="submit" value = "Enviar">
    </form>
</main>
</body>