<div class="Sala6">
<form action = '@Url.Action("ResolverSala","Home")' method = "post">
Escribir el codigo traducido del lenguaje secreto.
Codigo = <input type="text" name="CodigoS">
<img src="/imagenes/VenomPrincipal.png" alt="ImagenPista"/>>
</form>
</div>
