<div class="Sala5">
<p>click en el boton de abajo para ver el acertijo para pasar a la siguiente sala!</p>
<!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Click aqui para ver el acertijo
  </button>


  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action = '@Url.Action("ResolverSala", "Home")' method = "post">
          <div class="modal-body">
              elegir la imagen correcta, hay 2 imagenes editadas.
               <input type="text" name="codigo">
              <div class="imagenes-acertijo">
    <img src="/imagenes/MisterioIncorrecta.png" alt="Opcion a"/>
    <img src="/imagenes/MisterioCorrecta2.png" alt="opcion b"/>
    <img src="/imagenes/MisterioIncorrecta.png" alt="opcion c"/>
  </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input button type="submit" class="btn btn-primary" value="Enviar Respuesta">
        </form>
      </div>
</div>
