<body class="sala1">
<p>USTED ESTÁ EN LA SALA @ViewBag.salaActual</p>

<main> 
    <h1>el duende verde ha eScondido Una boMba en oscorp. solo se desactivA con un código secreto.</h1>
    <h2><b>OJO</b> CON LA FÓRMULA CLAVE: "Osborn, Harry, Norman"</h2>
    <form action='@Url.Action("ResolverSala","Home")' method="post" autocomplete="off">
    <input type="text" name="fake-field" style="display:none">
    Código:
    <input type="text" name="codigo" id="codigo" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
    
    <input type="submit" value="Enviar">
</form>
    <h3>@ViewBag.MensajeError</h3>
    <section>
    <img src="/imagenes/png.png" title="O=22" class = "O">
    <img src="/imagenes/png.png" title="H=13" class = "H">
    <img src="/imagenes/png.png" title="N=45" class = "N">
    </section>
</main>
</body>