<main class="1"> 
    <h1>el duende verde ha eScondido Una boMba en oscorp. solo se desactivA con un código secreto.</h1>
    <h2>"La fórmula está en los nombres: Osborn, Harry, Norman"</h2>
    <img src="/Imagenes/imagen.webp" title="Este es el mensaje que aparece al pasar el mouse">
</main>