<body class="sala2">
<p>USTED ESTÁ EN LA SALA @ViewBag.salaActual</p>

<main class="2"> 
    <h1> Doc Ock mezcló químicos en el laboratorio. Solo una combinación abre la compuerta. Las primeras en descubrirlas son las importantes. </h1>
    <iframe allow="fullscreen; autoplay; allow-top-navigation-by-user-activation" allowfullscreen width="795" height="690" frameborder="0" src="https://es.educaplay.com/juego/24236546-hola_como_estas.html"></iframe>
    <form action='@Url.Action("ResolverSala","Home")' method="post">
    <input type="text" name="fake-field" style="display:none">
    Código:
    <input type="text" name="codigo" id="codigo" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
    <input type="submit" value = "Enviar" autocomplete="new-password">
    </form>
    <h3>@ViewBag.MensajeError</h3>

</main>
</body>