<form action = '@Url.Action("Codigo")' method = post> 
Escribir el codigo traducido del lenguaje secreto.
Codigo = <input type="text" name="CodigoS">
<img src="/imagenes/VenomPrincipal.png" alt="ImagenPista"/>>
</form>
