html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 10px;
  padding: 10px;
  
}

.INDEX {
  background-image: url('../imagenes/spiderman_inicio.webp');
  background-size: cover;
}

.sala1 section{
  height: 90%;
  background-image: url('/imagenes/fondoSala1.jpeg');
  background-size: cover;
}
.sala1 img{
  border: 1px solid black;
  width: 10%;
}
.sala1 img:hover{
  box-shadow: 2px 2px 2px rgb(182, 181, 181);
}





.sala3{
  background-image: url(../imagenes/);
}




footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}